<html>
<head>
	<meta charset="UTF-8">
	<title>The Wall</title>
	<meta name="description" content="Jon wanted nothing more. No, he had to tell himself, those days are gone. The realization twisted in his belly like a knife. They had chosen him to rule. The Wall was his, and their lives were his as well. A lord may love the men that he commands, he could hear his lord father saying, but he cannot be a friend to them. One day he may need to sit in judgement on them, or send them forth to die.">
	<link rel="icon"
		  type="image/png"
		  href="http://tonjohn.com/favicon.png">
	<!-- linking a css style sheet -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<header id="header">
		<h1><a href="wall">CodingDojo Wall</a></h1>
		<div id="usercp">
			<h3>Welcome, {{session['first_name']}}!</h3>
			<a href="/reset">log off</a>
		</div>
	</header>
	<main class="container">
		<form class="comment" action='/message' method='post'>
			<h2>Post a Message</h2>
			<input class="comment" type="text" name="post" placeholder="What's on your mind?">
			<input type="submit" name="submit" value="Post a message">
		</form>

		<section class="messages">
		{%for message in messages%}
			<article class="message">
				<header>
					<h2>{{message['name']}} - <a href="/message/{{message['message_id']}}"><time datetime="{{message['created_at']}}">{{datetime.datetime.strptime(str(message['created_at']),"%Y-%m-%d %H:%M:%S").strftime('%B %d %Y')}}</time></a></h2>
				</header>
				<section>
					<p>{{message['message']}}</p>
				</section>
					<section class="user_comments">
						{%for comment in message['comments']%}
							<article class="user_comment">
								<header>
									<h2>{{ comment['name'] }} - <time datetime="{{comment['created_at']}}">{{datetime.datetime.strptime(str(comment['created_at']),"%Y-%m-%d %H:%M:%S").strftime('%B %d %Y')}}</time></h2>
								</header>
								<p>{{ comment['comment'] }}</p>
							</article>
						{%endfor%}
						<form class="comment" action='/comment' method='post'>
							<h2>Post a Comment</h2>
							<input type="hidden" name="message_id" value="{{message['message_id']}}">
							<input class="comment" type="text" name="post" placeholder="Write a comment...">
							<input class="comment green" type="submit" name="submit" value="Post a comment">
						</form>
					</section>
			</article>
		{%endfor%}
		</section>
		<audio controls autoplay="autoplay">
			<source src="{{ url_for('static', filename='got.mp3') }}" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
	</main>
</body>
</html>